<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button onclick="getPortList()">获取港口</button>
    <button onclick="getPortCodeImg()">识别图像</button>
    <button onclick="getPortGroup()">测试组合查询</button>
    <button onclick="test()">test</button>
    <button onclick="getPortGroupAll()">所有组合查询</button>
</body>
<script src="jquery-3.2.1.js"></script>
<script>
  function getPortList () {
    $.ajax({
      type: 'get',
      dataType: 'json',
      url: 'http://localhost:3000/spider/s/rcl/port/list',
      success: function (data) {
        console.log(data)
      }
    })
  }

  function getPortCodeImg () {
    $.ajax({
      type: 'get',
      dataType: 'json',
      url: 'http://localhost:3000/spider/s/rcl/port/code',
      success: function (data) {
        console.log(data)
      }
    })
  }

  function getPortGroup () {
    $.ajax({
      type: 'get',
      dataType: 'json',
      // data: $('#gParams').val(),
      url: 'http://localhost:3000/spider/s/rcl/port/group?pol=AEDXB&pod=AEKLF',
      success: function (data) {
        console.log(data)
      }
    })
  }

  function getPortGroupAll () {
    $.ajax({
      type: 'get',
      dataType: 'json',
      // data: $('#gParams').val(),
      url: 'http://localhost:3000/spider/s/rcl/port/group/all',
      success: function (data) {
        console.log(data)
      }
    })
  }

  function test () {
    $.ajax({
      type: 'get',
      dataType: 'json',
      // data: $('#gParams').val(),
      url: 'http://localhost:3000/spider/s/rcl/test/rq?id=1',
      success: function (data) {
        console.log(data)
      }
    })
  }
</script>
</html>
